<h1>Videos</h1>

<div class="video-container">
  <a
    href="/videos/ar"
    class="btn btn-primary btn-lg"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >Arabic Videos</a
  >
  <a
    href="/videos/en"
    class="btn btn-warning btn-lg"
    tabindex="-1"
    role="button"
    aria-disabled="true"
    >English Videos</a
  >
</div>
