<h1>Arabic Videos</h1>

<div class="video-container">
    <% for( let video of videos) { %>
    <div class="video"> <video src="/videos/arabic/<%=video %>" muted controls></video></div>
    <% } %>
</div>
